.App {
  text-align: center;
  width: 80%;
  margin: 40px auto;
}

table{
  width: 100%;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
